
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 135.4rem;
}.desktop-1-Hy7 {
  align-items: center;
  flex-direction: column;
  background-color: #dfdfdf;
  background-size: 100% 100%;
  overflow: hidden;
  padding: 1rem 1.975rem 2rem 1.692rem;
  width: 100%;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:8d318ea3ebc2657aca92c5bfac5aff70914f2618');
  box-sizing: border-box;

  .auto-group-rqut-dfb {
    flex-shrink: 0;
    margin: 0rem 1.75rem 1rem 0.708rem;
    width: calc(100% - 2.4574rem);
    height: 23.4rem;
    display: flex;
    align-items: flex-start;

    .collegelogo-removebg-preview-1-gnH {
      margin-right: 12.7508rem;
      width: 13.5rem;
      height: 18.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .frame-4-xzh {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;

      .auto-group-9edb-Vjj {
        margin-right: 0.9247rem;
        width: 51.9rem;
        height: 17.4rem;
        position: relative;
        flex-shrink: 0;

        .mmcoe-2Ds {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 51.9rem;
          position: absolute;
          left: 0;
          font-weight: 900;
          line-height: 1.2125;
          color: #000000;
          height: 15.6rem;
          top: 0;
          text-align: center;
          font-size: 12.8rem;
        }
        .sno18-plot-no-5-3-karve-nagar-pune-411052-HQh {
          line-height: 1.2125;
          color: #000000;
          height: 5.9rem;
          left: 1.15rem;
          top: 11.5rem;
          font-size: 2.4rem;
          font-weight: 500;
          width: 49.3rem;
          position: absolute;
          font-family: Inter, 'Source Sans Pro';
        }
        .mmcoe-YbX {
          position: absolute;
          top: 0;
          font-size: 12.8rem;
          font-weight: 900;
          white-space: nowrap;
          width: 51.9rem;
          height: 15.6rem;
          left: 0;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .sno18-plot-no-5-3-karve-nagar-pune-411052-rcD {
          height: 5.9rem;
          left: 1.15rem;
          font-size: 2.4rem;
          font-weight: 500;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 49.3rem;
          position: absolute;
          top: 11.5rem;
          line-height: 1.2125;
        }
      }
      .accredited-with-a-grade-by-naac-recipient-of-best-college-award-2019-by-sppu-accredited-mechanical-electrical-departmentsbynba-8pd {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-top: 0.1rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 900;
        max-width: 50.2rem;
        flex-shrink: 0;
      }
    }
  }
  .frame-3-nacca-9zd {
    position: relative;
    background-color: rgba(125, 139, 137, 0.8100000024);
    margin: 0rem 10.425rem 4.7rem 8.508rem;
    width: calc(100% - 18.9329rem);
    height: 17.2rem;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 3rem;

    .r-1-U1K {
      width: 56rem;
      height: 23.4rem;
      position: absolute;
      left: 0;
      top: -2.7rem;

      .r-1-Ci1 {
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:d91b7980e3ca53c9029e4d123d68669872fa628d');
        width: 56rem;
        height: 23.4rem;
      }
    }
    .r-1-h8y {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:d91b7980e3ca53c9029e4d123d68669872fa628d');
      width: 56rem;
      height: 23.4rem;
      position: relative;
      left: 55.2rem;
      top: -2.7rem;
    }
    .drone-club-oho {
      left: 10.05rem;
      top: 4.1rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 82.8rem;
      height: 15.6rem;
      position: absolute;
      text-align: center;
      font-size: 12.8rem;
      font-weight: 900;
    }
  }
  .auto-group-uwb7-8tV {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4.7rem;
    width: 100%;
    height: 58.4rem;

    .frame-5-UBf {
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-right: 3.385rem;
      padding: 3.9rem 2.642rem 12.5rem 2.454rem;
      height: 100%;
      overflow: hidden;
      background-color: rgba(125, 139, 137, 0.6600000262);
      border-radius: 3rem;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;

      .aims-NXw {
        margin: 0rem 0.008rem 3.1rem 0rem;
        text-align: center;
        font-weight: 900;
        line-height: 1.2125;
        flex-shrink: 0;
        font-size: 4rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .to-develop-skilled-manpower-in-the-domain-of-drone-technology-to-cater-the-industrial-and-societal-needs-V6m {
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 35.9rem;
        text-align: center;
        font-size: 4rem;
      }
    }
    .frame-6-vC5 {
      border-radius: 3rem;
      flex-shrink: 0;
      margin-right: 2.3507rem;
      box-sizing: border-box;
      height: 100%;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(125, 139, 137, 0.6600000262);
      padding: 3.9rem 3.394rem 12.2rem 3.958rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;

      .vision-SAR {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 3.4rem 0.983rem;
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.2125;
        text-align: center;
        color: #000000;
      }
      .to-develop-skilled-manpower-in-the-domain-of-drone-technology-to-cater-the-industrial-and-societal-needs-Yz9 {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 35.9rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .frame-7-2PX {
      position: relative;
      align-items: center;
      flex-direction: column;
      background-color: rgba(125, 139, 137, 0.6600000262);
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 3rem;
      padding: 4rem 2.933rem 12.5rem 2.916rem;
      overflow: hidden;

      .projects-ZPT {
        font-size: 4rem;
        font-weight: 900;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0rem 3rem 0.169rem;
        text-align: center;
        flex-shrink: 0;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .to-develop-skilled-manpower-in-the-domain-of-drone-technology-to-cater-the-industrial-and-societal-needs-HKT {
        max-width: 35.9rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .frame-5-XzV {
    width: calc(100% - 1.0245rem);
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 3rem;
    box-sizing: border-box;
    padding: 2.7rem 22.91rem 7.1rem 17.499rem;
    flex-direction: column;
    background-color: rgba(125, 139, 137, 0.6600000262);
    flex-shrink: 0;
    margin: 0rem 0.277rem 0rem 0.747rem;
    display: flex;

    .updates-QoP {
      margin: 0rem 0rem 2.3rem 0.803rem;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4.8rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .to-develop-skilled-manpower-in-the-domain-of-drone-technology-to-cater-the-industrial-and-societal-needs-j4y {
      margin-bottom: 1.9rem;
      text-align: center;
      font-weight: 900;
      color: #ffffff;
      flex-shrink: 0;
      max-width: 90.3rem;
      font-size: 4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';

      .to-develop-skilled-manpower-in-the-domain-of-drone-technology-to-cater-the-industrial-and-societal-needs-j4y-sub-0 {
      }
      .to-develop-skilled-manpower-in-the-domain-of-drone-technology-to-cater-the-industrial-and-societal-needs-j4y-sub-1 {
        font-weight: 900;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 5rem;
      }
    }
    .highlights--zHj {
      font-weight: 900;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 0.4097rem;
      font-size: 5rem;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      color: #000000;
    }
  }
  .auto-group-1kyz-J3X {
    margin: 0rem 6.825rem 0rem 1.808rem;
    width: calc(100% - 8.6329rem);
    height: 46.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .vajra-1-cK7 {
      width: 45.5rem;
      height: 46.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-exjw-juX {
      box-sizing: border-box;
      padding: 8.5rem 0rem 7.3rem 12.8rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .linkedin-logo-on-transparent-background-png-1-4gu {
        margin: 0rem 0.9rem 22.5rem 0rem;
        width: 8.9rem;
        height: 8.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-qd89-9yF {
        margin-top: 2.3rem;
        width: 55rem;
        flex-shrink: 0;

        .linkedin-67o {
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.6rem 0.9rem;
        }
        .auto-group-j9gh-DCR {
          display: flex;
          align-items: flex-start;
          margin: 0rem 6.2rem 0.1rem 0rem;
          width: calc(100% - 6.2rem);

          .instagram-logo-transparent-1024x987-1-8aH {
            margin-right: 1.3rem;
            width: 7.7rem;
            height: 7.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .instagram-eYd {
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 2.1rem;
            font-size: 6.4rem;
          }
        }
        .auto-group-t6sq-6ow {
          margin-left: 9rem;
          width: calc(100% - 9rem);
          display: flex;
          align-items: flex-end;

          .r-1-1-eKf {
            margin: 0rem 1.5rem 1.7rem 0rem;
            width: 8.5rem;
            height: 8.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .facebook-yMw {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
    }
  }
}
